@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", Helvetica, sans-serif;
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg {
  position: absolute;
  width: 200%;
  height: 150%;
}

.bg-top {
  top: -160%;
  left: -250%;
  transform: translate(50%, 50%);
  background: url(img/bg-pattern-top.svg) no-repeat right bottom;
}

.bg-bottom {
  bottom: -175%;
  right: -40%;
  width: 60%;
  transform: translate(-50%, -50%);
  background: url(img/bg-pattern-bottom.svg) no-repeat left top;
}

.card {
  height: 375px;
  width: 350px;
  max-width: 90%;
  background-color: #fff;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 100px 1px hsl(227, 10%, 46%);
  color: hsl(229, 23%, 23%);
}

.card-top {
  position: relative;
  background: url(img/bg-pattern-card.svg) no-repeat center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 284px;
  border-bottom: 1px solid hsl(0, 0%, 59%);
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.user-details {
  position: absolute;
  top: 75%;
  font-weight: 700;
}

.user-details span {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.user-location {
  position: absolute;
  top: 85%;
  color: hsl(227, 10%, 46%);
}

.card-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}

.socials p {
  text-align: center;
  font-weight: 700;
}

.socials span {
  margin-top: 0.25rem;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  color: hsl(227, 10%, 46%);
}

@media screen and (max-width: 425px) {
  .bg-bottom {
    bottom: -185%;
    right: -40%;
    width: 70%;
    height: 160%;
  }
}